/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

table {
    border: thin solid;
    max-width: 100%;
    width: auto;
    border-collapse: collapse;
}

th,
td {
    font-size: 95%;
    color: rgb(74, 74, 74);
    border: 1px solid #666666;
    padding: 0.4rem;
    word-wrap: break-word;
    white-space: normal;
}

th {
    background-color: #f8f9fa;
}
